<p>SONGS</p>

<div class="container">
  <div class="row">
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">title</th>
          <th scope="col">created</th>
        </tr>
      </thead>
      <tbody>
      <% @songs.each do |song| %>
        <tr>
          <td><%= song.id %></td>
          <td class="song-title"><%= song.title %></td>
          <td><%= song.created_at.strftime('%d.%m.%Y') %></td>
        </tr>
      <% end %>
      </tbody>
    </table>
  </div>
</div>

<img src="<%= image_url 'pic.jpg' %>"/>

<% if user_signed_in? %>
<p><%= link_to 'New Song', new_song_path %></p>
<p><%= current_user.email %></p>
<p><%= link_to 'log out', destroy_user_session_url, method: :delete %></p>
<% else %>
<p><%= link_to 'log in', new_user_session_url %></p>
<% end %>